div.board{
    position: relative;
    height: 800px;
    width: 496px;
}
div.final{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 496px;
    background-color: aliceblue;
}