body {
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 竖直居中 */
      user-select: none; /* 防止文字被选中 */
    }
div.board{
    position: relative;
    height: 800px;
    width: 496px;
}
div.pieces{
    position: absolute;
    top: 40px;
    left: 24px;
    height: 560px;
    width: 448px;
}
div.buttons{
    position: absolute;
    top: 624px;
    left: 24px;
    height: 168px;
    width: 448px;
}
div.w1{
    position: absolute;
    width: 112px;
}
div.w2{
    position: absolute;
    width: 224px;
}
div.h1{
    position: absolute;
    height: 112px;
}
div.h2{
    position: absolute;
    height: 224px;
}
img{
    height: 100%;
    width: 100%;
}