body {
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 竖直居中 */
      user-select: none; /* 防止文字被选中 */
    }
div.board{
    position: relative;
    height: 1000px;
    width: 620px;
}
div.pieces{
    position: absolute;
    top: 50px;
    left: 30px;
    height: 700px;
    width: 560px;
}
div.buttons{
    position: absolute;
    top: 780px;
    left: 30px;
    height: 210px;
    width: 560px;
}
div.w1{
    position: absolute;
    width: 140px;
}
div.w2{
    position: absolute;
    width: 280px;
}
div.h1{
    position: absolute;
    height: 140px;
}
div.h2{
    position: absolute;
    height: 280px;
}
img{
    height: 100%;
    width: 100%;
}